{% extends '@system/base.html.twig' %}
{% block page_title %}
    <title>{{ page_title??'..' }}</title>
{% endblock %}
{% block page %}

    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="{{ path('index_page') }}" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>O</b>C</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>OO</b>CMS</span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        {#<!-- User Account Menu -->#}
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/web/themes/core/admin/dist/img/user2-160x160.jpg') }}" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">{{ app.user.email??'Admin' }}</span>
                            </a>
                            <ul class="dropdown-menu">

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="{{ path('admin_manager_change_password_page', {'managerId':app.user.id??0}) }}" class="btn btn-default btn-flat">Change Password</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{{ path('admin_logout_page') }}" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        {#<!-- Control Sidebar Toggle Button -->#}
                        {#<li>#}
                        {#<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>#}
                        {#</li>#}
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    {% for menu in admin_menu_list ?? [] %}
                        <li class="header">{{ menu.name }}</li>
                        {% for link in menu.link_list ?? [] %}
                            <li>
                                <a href="{{ link.link }}">
                                    <i class="fa fa-link"></i> <span>{{ link.title }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul><!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->

        <div class="content-wrapper">
            {% if app.session.flashBag.has('error') or app.session.flashBag.has('success') or app.session.flashBag.has('notice') %}
                <div class="row">
                    <div class="col-xs-12">

                        {% if app.session.flashBag.has('error') %}

                            {% for flash_message in app.session.flashBag.get('error') %}
                                <section class="content" style="min-height: 0px;">
                                    <div class="callout callout-danger">
                                        <h4>Error!</h4>
                                        <p>{{ flash_message }}</p>
                                    </div>
                                </section>
                            {% endfor %}

                        {% endif %}
                        {% if app.session.flashBag.has('success') %}

                            {% for flash_message in app.session.flashBag.get('success') %}
                                <section class="content" style="min-height: 0px;">
                                    <div class="callout callout-success">
                                        <h4>Success!</h4>
                                        <p>{{ flash_message }}</p>
                                    </div>
                                </section>
                            {% endfor %}
                        {% endif %}
                        {% if app.session.flashBag.has('notice') %}
                            {% for flash_message in app.session.flashBag.get('notice') %}
                                <section class="content" style="min-height: 0px;">
                                    <div class="callout callout-info">
                                        <h4>Notice!</h4>
                                        <p>{{ flash_message }}</p>
                                    </div>
                                </section>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% block content %}

            {% endblock %}
        </div><!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Together We Can Do It!
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="{{ path('index_page') }}">OOCMS</a>.</strong> All rights reserved.
        </footer>
    </div><!-- ./wrapper -->

{% endblock %}